body {
    background-color: rgb(54, 54, 54);
    font-family: monospace;
}

/* --------------- Estilização do Modal --------------- */

.modal {
    width: 90%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 15px 0px white;
}

.modal::backdrop{
    background-color: rgba(200, 200, 200, 0.8);

}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#fechar{
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
}

.modal-footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
}

.titulo-modal {
    margin-top: -5px;
    text-align: center;
    color: black;
}

/* _____________________________________________________ */
/* ---------------Tabela dentro do modal --------------- */
 
#div-tabela {
    display: flex;
    width: 100%;
    justify-content: center;
}

#tabela-produto,
.linha,
.coluna {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

#tabela-produto input {
    border: none;
}

.coluna input {
    width: 90%;
}
/* ----------------------------------------------------------- */
#titulo-pagina {
    color: white;
    text-align: center;
}

#subtotal {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

#subtotal div {
    width: 29vw;
}
.valores{
    width: 95%;
}

#subtotal label {
    color: white;
}

#mensagem-instrucao {
    color: white;
    text-align: center;
}


#div-disponivel {
    display: flex;
}
#disponivel{
    border: 1px solid grey;
    border-color: gray;
    border-radius: 2px;
    border-left: none;
}


#label-disponivel {
    width: 25px;
    display: flex;
    border: 1px solid grey;
    background-color: white;
    border-radius: 2px;
    border-right: none;
    margin-right: -1px;
}

#preco {
    width: 90%;

}


#quantidade {
    width: 90%;
}

#embalagem {
    width: 80%;
}

#unidade {
    width: 10vw;
}

#button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#lista {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#tabela-lista,
#tabela-lista th,
#tabela-lista tr,
#tabela-lista td {
    color: white;
    border: 1px solid;
    font-size: small;
    border-collapse: collapse;
} 

.oculto {
    display: none;
}

 .sifrao{
    color: black !important;
}

.editar-produto{
    border: none;
    background: transparent;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: bold;
};
