body{
    background-color: rgb(54, 54, 54);

}
h1{
    color: white;
    text-align: center;
}   
#item, #preco, #quantidade, #unidade{
    width: 20%;
    box-sizing: border-box;
}

@media only screen and (min-width: 400px) {
    #item, #preco, #quantidade{
        width: 200px;
    }
    #unidade{
        width: min-content;
    }
}