body{
    background-color: rgb(54, 54, 54);
}

h1{
    color: white;
    text-align: center;
}
p{
    color: white;
    text-align: center;
}

#item, #preco, #quantidade, #unidade{
    width: 23vw;
    box-sizing: border-box;
}
